<ion-view view-title="Contacts" hide-back-button="true">
	<ion-nav-buttons side="right">
		<a href="#/account"><button class="button button-clear"><i class="icon ion-ios-gear-outline"></i></button></a>
	</ion-nav-buttons>
	<ion-content class="padding-lots">
		<ion-list class="chat-list">
			<ion-item on-hold="contactCard(contact)" class="item-remove-animate item-avatar item-icon-right" ng-class="{online: contact.online}" ng-repeat="contact in contacts" type="item-text-wrap" ng-href="#/chats/{{contact.id}}">
				<img user="{{contact.id}}">
				<h2>{{contact.name || contact.username}}</h2>
				<p class="last-text">{{contact.lastMessage}}</p>
				<span class="last-time" am-time-ago="contact.lastDate"></span>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>